@media only screen and (max-width: 800px){
    header, footer{padding: 0 10px;}
    section#banner{
        padding: 10px 10px 15px 10px;
        p { font-size: 17px; }
        section:first-of-type { width: 203px; }
    }
}

@media only screen and (max-width: 480px){
    .d-flex{flex-direction: column !important; align-items: center;}
    header , footer {
        nav{
            width: 100%;
            ul{
                li{
                    display: flex; flex-direction: column !important; align-items: center;border: 1px solid #000;margin: 5px 0;padding: 10px;
                }
            }
        }
    }
    section#banner{
        padding: 35px 10px;
        .d-flex {
            flex-direction: column-reverse !important;
        }
        section:nth-of-type(2) {
            position: relative;height: 295px;
        }

        section:first-of-type {width: 100%;}
        section:nth-of-type(2){
            width: 100%;
            .slider-button {bottom: -50px;color: #000;text-align: center;
                ul {margin: 0;text-align: center;}
            }
        }
    }
 
    section#main-area {
        padding: 35px 10px 20px;overflow: auto;
        div.box {width: 100%;margin: 0 0 10px;padding: 0;}
        div.twitter-feed{width: 100%;padding: 20px 0;text-indent: 20px;margin: 20px auto;}

    }
    footer{
        padding: 20px 10px
        span{padding: 10px 0;}
    }
}