@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
}

body{font-family: 'Open Sans', sans-serif;}

ul{
    padding: 0;
    li{
        text-decoration: none;
        list-style-type: none;
    }
}

a{
    text-decoration: none;
    color: inherit;
    :hover{
        text-decoration: underline;
    }
}

.clearfix{
    clear: both;
}

.wrapper{
    max-width: 768px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

header, section#banner, footer, section#main-area div.box, section#main-area div.twitter-feed{
 background: #c3c3c3;  
}

header {
    a.logo{
        font-size: 25px;
        line-height: 52px;
    }
    nav {
        ul {
            li{
                display: inline-flex;
                padding: 20px 5px;
                margin: 0 5px;
            }
        }
    }
}


section#banner{
    padding: 10px 0 15px 0;
    h1{
        font-size: 43px;
    }
    p{
        font-size: 20px;
        line-height: 35px;
    }
    section:first-of-type{
    
        /*! flex-grow: 1; */
        width: 276px;
    }
    section:nth-of-type(2){
        flex-grow: 1;

        .slider-button{
            position: absolute;
            bottom: -58px;
            z-index: 1;
            width: 100%;
            left: 0;
            color: #c3c3c3;
            ul{
                text-align: center;
                li{

                    display: inline-block;
                    font-size: 36px;
                    padding: 0 5px;
                    text-align: right;
                }
            }
        }
    }

    .no-content{
        width: 100%;
        display: block;
        background: gray;
        height: 245px;
        position: relative;

        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


section#main-area{
    padding-top: 35px;
    div.d-flex{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    div.box{
        height: 210px;
        display: inline-flex;
        align-items: center;
        padding: 0 30px;
        width: 20%;
        margin: 10px;
        align-content: center;
        justify-content: center;
    }

    div.twitter-feed{
        /*! flex: 1 0 100%; */
        padding: 20px;
        margin: 20px 10px;
        width: 100%;
        max-width: 670px;
    }
    
}


footer {
    nav {
        li{
            display: inline-flex;
            padding: 20px 5px;
            margin: 0 5px;
        }
    }
    span{
        align-items: center;
    }
    
}